{% extends 'base.html' %}

{% block body %}
{% if user.is_authenticated %}
  <h1>Welcome to your SMS Contact book</h1>

  <h3>Existing Contacts</h3>
  <table width='100%'>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
    </tr>
  {% for contact in contacts %}
    <tr>
      <td><a href="{% url 'contact_detail_view' contact.id %}">{{ contact.name }}</a></td>
      <td>{{ contact.number }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan=2> It doesn't look like you have any contacts. You should add one. </td>
    </tr>
  {% endfor %}
  </table>


  <h3>Add a new Contact</h3>
  <form action="{% url 'contact_create_view' %}" method="POST">
    {% csrf_token %}
    {{ new_contact_form.as_p }}
    <input type="submit" value="Add New Contact" />
  </form>

{% else %}
  <p>It doesn't look like you're logged in. Maybe you should sign up for an account or login?</p>
{% endif %}
{% endblock body %}
